header{
    text-align: center;
    border: solid 2px;
    border-radius: 15px;
    background-color: rgb(25, 203, 132);
    color: rgb(255, 255, 255);
    padding: auto;
    font-size: 25px;
}

.description{
    font-size: 2em;
    font-weight: 100px;

}
body{
    background-color: rgb(115, 198, 174);
}

img{
    border-radius: 15px;
    transition: 0.6s;
}
img:hover{
    transform: scale(1.1);
}



.picture{
    margin:50px;
    padding: 10px;
    display: inline-block;
}
